/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .main-nav li {
        padding: 10px 17px;
    }
    .header-logo {
        padding: 50px 0px 70px 0;
    }
    .content a {
        margin-bottom: 75px;
    }
    .pt-90 {
        padding-top: 75px;
    }
    .box p {
        margin-top: 15px;
        padding: 0px 65px;
    }
    .imgs {
        margin-left: 135px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .imgs-1 {
        margin-left: 160px !important;
    }
    .imgs-3 {
        margin-left: 160px !important;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .pt-img img {
        max-width: 100%;
    }
    .client-review p {
        font-size: 18px;
    }
    .a-content {
        margin-bottom: 80px;
    }
    .pt-85 {
        padding-top: 80px;
    }
    .client-review h3 {
        font-size: 22px;
    }
    

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
